<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.amastigote.darker">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:persistent="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <activity
            android:name="com.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.activity.AboutActivity"
            android:label="@string/about"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat" />

        <activity
            android:name="com.activity.StatisticActivity"/>

        <activity
            android:name="com.activity.ExerciseActivity"/>

        <activity
            android:name="com.activity.TrainActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name="com.activity.VisionActivity" />

        <service
            android:name="com.service.ScreenFilterService" />

        <service
            android:name="com.service.AlermService"
            android:enabled="true"
            android:exported="true" />

    </application>
</manifest>